<launch>
    <!-- Global paramters -->
    <arg name="map" default="/localhome/strands/cdondrup/study_croped.yaml" />
    <arg name="waypoints" default="/localhome/strands/cdondrup/study.csv" />

    <!-- Navigation -->
    <include file="$(find scitos_2d_navigation)/launch/scitos_2d_nav.launch">
        <arg name="map" value="$(arg map)"/>
    </include>

    <!-- Pedestrian tracking -->
    <include file="$(find strands_perception_people_launch)/launch/pedestrian_tracker_robot.launch"/>

    <!-- Human aware velocity -->
    <node pkg="strands_human_aware_velocity" type="human_aware_planner_velocity.py" name="human_aware_planner_velocities" output="screen"/>

    <!-- Gazing -->
    <node pkg="strands_gazing" type="gaze_at_pose" name="gaze_at_pose" output="screen">
        <param name="pose_array" value="/upper_body_detector/bounding_box_centres" type="string"/>
    </node>

    <!-- State machine -->
    <node pkg="restaurant_state_machine" type="study_state_machine.py" name="study_state_machine" output="screen">
        <param name="waypoints" value="$(arg waypoints)" type="string"/>
    </node>

    <!-- Recording -->
    <node pkg="rosbag" type="record" name="pose_recording" args="-o /localhome/strands/cdondrup/pre-study/pose /amcl_pose /robot_pose" if="$(arg record)"/>
    <node pkg="rosbag" type="record" name="gaze_recording" args="-o /localhome/strands/cdondrup/pre-study/gaze -e '/gaze_at_pose/(.*)'" if="$(arg record)"/>
    <node pkg="rosbag" type="record" name="ppldet_recording" args="-o /localhome/strands/cdondrup/pre-study/ppldet /ground_plane /visual_odometry/motion_matrix - '/upper_body_detector/(.*)' -e '/pedestrian_(.*)' -x '(.*)image'" if="$(arg record)"/>
    <node pkg="rosbag" type="record" name="vel_recording" args="-o /localhome/strands/cdondrup/pre-study/vel -e '/human_aware_planner_velocities/(.*)'" if="$(arg record)"/>
    <node pkg="rosbag" type="record" name="state_recording" args="-o /localhome/strands/cdondrup/pre-study/state -e '/hesitation_study_state_machine/(.*)'" if="$(arg record)"/>
    <node pkg="rosbag" type="record" name="rosout_recording" args="-o /localhome/strands/cdondrup/pre-study/rosout /rosout" if="$(arg record)"/>
    <node pkg="rosbag" type="record" name="behaviour_recording" args="-o /localhome/strands/cdondrup/pre-study/behaviour /study/behaviour" if="$(arg record)"/>

</launch> 
